<h1>Welcome to Free Link Preview</h1>
<div class="center">
    <form [formGroup]="form">
      <input type="text" formControlName="url" placeholder="Enter your URL to preview">
      <select formControlName="mode">
          <option value="simple">Simple</option>
          <option value="compact">Compact</option>
          <option value="detailed">Detailed</option>
        </select>
      <button (click)="genPreview()">Generate Your Link Preview</button>
    </form>
</div>

<div class="spacer"></div>
<ng-container *ngIf="url">
  <unfurl-preview [url]="url" [mode]="mode"></unfurl-preview>
</ng-container>
<div class="spacer"></div>
